<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="爱校园.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <爱校园.Settings1>
            <setting name="user_name" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="save_account" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="last_success_ip" serializeAs="String">
                <value />
            </setting>
            <setting name="last_success_session_id" serializeAs="String">
                <value />
            </setting>
            <setting name="firs_boot" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="login_type_sms" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="login_type_pwd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="save_pwd" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IDcheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auth_sms" serializeAs="String">
                <value />
            </setting>
        </爱校园.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
